<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayah and Jude's Boston Adventures</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {{header|safe}}
</head>
<body>
    <header>
        <h1>Mayah and Jude's Boston Adventures</h1> 
    </header>

    <main>
        <div class="container">
            <!-- Sidebar for Pins -->
            <aside class="pin-list">
                <h2>Pinned Locations</h2>
                <ul id="pins">
                    {% for pin in pins_list %}
                        <li><a href="{{ url_for('pins.view_pin', pkid=pin.pkid) }}">{{ pin.title }}</a></li>
                    {% endfor %}
                </ul>
            </aside>
    
            <!-- Map Content -->
            <section class="content">
                {{ body|safe }}
            </section>

            <aside class="adventures">
                <h2>Adventure Highlights</h2>
            </aside>
        </div>
    </main>
    
    <div style="text-align: center;">
        <a href="{{ url_for('pins.make_new_pin')}}">
            <button>Create New Adventure</button>
        </a> 
    </div>
   
    <footer>
        <p>Created by Mayah and Jude, I Got You Productions</p>
    </footer>

    <script>
        {{script|safe}}
    </script>
</body>
</html>
